.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 0.2rem dashed #02744f;
}

.div-profile-img {
  padding-right: 2.5rem;
  
}

#main-section {
  display: flex;
  justify-content: space-around;
}

#text-main-section {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
}

#text-main-section > h2 {
    font-size: 30px;  
    background: linear-gradient(270deg, rgb(233, 233, 234) 0%, rgba(2,116,79,1) 100%, rgba(0,212,255,1) 100%);  
    background-clip: text;          
    -webkit-background-clip: text;      
    -webkit-text-fill-color: transparent;
    color: transparent;                   
  } 

#text-main-section > p {
  margin-top: 1rem;
}
